/* From https://css-tricks.com/snippets/css/system-font-stack/ */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: black;
}

.post-retort {
  border-radius: 20px;
  border: 1px solid whitesmoke;
  box-shadow: 1px 1px 1px #e4e4e4;
  padding: 8px;
  margin-right: 4px;
}